gb1900_analysis/GIR2019_figs/
gb1900_analysis/figs/
gb1900_analysis/others/
gb1900_analysis/pickle_files/
hack-day-2/data/
hack-day-2/detect_trains/
hack-day-2/downloadazcopy-v10-linux.1
hack-day-2/sample_32_64/
hack-day-2/slices_32/
